# Node modules
node_modules

# Git
.git
.gitignore

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
.env.*

# Build output (nếu build trong container)
dist
build

# OS / Editor files
.DS_Store
.vscode
.idea
